@import "../common";

.wrap {
  box-shadow: $layer-shadow-8;
  position: fixed;
  bottom: $base-space * 3;
  right: $base-space * 4;
  background-color: $color-material-red;
  width: $base-space * 7;
  height: $base-space * 7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-white;
}

.innerWrap {
  position: relative;
  height: $base-space * 3;
  width: $base-space * 3;
  display: flex;
  align-content: center;
  justify-content: center;
}

.icon {
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: $base-space * 3;
  font-weight: 700;
}

.tooltip {
  @include normal-tooltip(false);

  padding: $base-space !important;
  margin-left: -$base-space !important;
  font-size: $font-size-normal !important;
}
