@import "../../common";

.wrap {
  position: relative;
}

// transition: translate(-50%) caused blurry text
.spikeTooltip {
  display: flex;
  justify-content: center;
  position: absolute;
  color: $text-color-white;
  bottom: calc(100% + #{$base-space / 2});
  font-size: $font-size-smaller;
  transition: opacity 0.2s ease-out, visibility 0.3s linear;
  width: 120px;
  user-select: none;
  pointer-events: none;
  z-index: 100;
}

.rangeSelectionTooltip {
  display: flex;
  justify-content: center;
  position: absolute;
  color: $text-color-white;
  bottom: calc(50%);
  font-size: $font-size-smaller;
  transition: opacity 0.2s ease-out, visibility 0.3s linear;
  user-select: none;
  margin: 0 $base-space;
  pointer-events: none;
  z-index: 100;
}

.rangeLengthTooltip {
  display: flex;
  justify-content: center;
  position: absolute;
  color: $text-color-white;
  bottom: -$base-space;
  font-size: $font-size-smaller;
  user-select: none;
  pointer-events: none;
  z-index: 100;
}

.open {
  opacity: 1;
  visibility: visible;
}

.close {
  opacity: 0;
  visibility: hidden;
}

.tooltipMessage {
  display: inline-block;
  background-color: rgba($text-color-normal, 0.6);
  border-radius: $border-radius;
  padding: $base-space / 2;
  white-space: nowrap;
}