@import "../common";

.main {
  background-color: $bg-color-title-bar;
  height: $title-height;
}

.brand {
  color: $text-color-white;
  display: inline-block;
  padding: $base-space $base-space * 3;
  font-size: $font-size-xlarge;
  text-decoration: none;
  letter-spacing: 0.5px;
}
