@import "../common";

.wrap {
  width: 100%;
  height: 100%;
  display: inline-table;

  &:after {
    content: "";
    clear: both;
  }
}

.nav {
  position: fixed;
  width: $navigation-width;
  height: 100%;
  box-shadow: $layer-shadow-2;
}

.main {
  margin-left: $navigation-width;
  width: 100vw - $navigation-width;
  height: 100%;
}

.fallback {
  background-color: $bg-color-gray-3;
  width: 100%;
  height: 100%;
}
