@import "../../common";

.wrap {
  background-color: $bg-color-white;
  box-shadow: $layer-shadow-1;
  border-radius: $border-radius-small;
  box-sizing: border-box;
  padding: $base-space * 2;
  width: 100%;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: $layer-shadow-6;
  }
}

.infoRoot {
  position: relative;
}

.indicatorWrap {
  float: left;
  height: 2em;
  display: flex;
  align-items: center;
  padding-right: $base-space;
}

.aliveIndicator {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  box-sizing: border-box;
}

.alive {
  background-color: $color-success;
  border: none;
}

.dead {
  background-color: transparent;
  border: 2px solid $bg-color-gray-8;
}

/*
 prevent layout flash after fonts are loaded
*/
.name {
  font-size: $font-size-larger;
  display: block;
  height: $base-space * 2.5;
}

.appName {
  display: inline-block;
  color: $text-color-bis;
  font-weight: 700;
  height: $base-space * 2.5;
  vertical-align: bottom;
}

.hashPart {
  display: inline-block;
  margin-left: 0.25em;
  height: $base-space * 2.5;
  vertical-align: bottom;
}

.save {
  font-size: $font-size-normal;
  position: absolute;
  right: -$base-space;
  bottom: -$base-space;

  &.disabled {
    color: $text-color-disabled;
  }

  &:not(.disabled) {
    @include link-style-blue;
  }
}

.saveTooltip {
  @include normal-tooltip();

  font-weight: normal !important;
  padding: $base-space !important;
}

.saveButton {
  font-weight: 700;
  border: none;
  background-color: transparent;
  color: $color-primary;
  font-family: $font-family-sans-serif;
  padding: $base-space;
  border-radius: $border-radius;
  text-transform: uppercase;
  height: $base-space * 4.5;

  &:hover {
    background-color: $bg-color-flat-button-primary-hover;
  }
}

.saveLabel {
  padding: 0 $base-space;
}

.spinner {
  margin-right: $base-space * 0.5;
  width: $base-space * 2.2;
  height: $base-space * 2.2;
}

.info {
  margin-top: $base-space;
  margin-left: $base-space * 2.25;
}

.environment {
  font-size: $font-size-normal;
}

.createdAt {
  font-size: $font-size-smaller;
  color: $text-color-hint;
  display: inline-block;
  margin-left: $base-space;
}

.snapshotList {
  list-style: none;
  font-size: $font-size-smaller;
  margin: $base-space * 2 0 0;
  padding: 0;
  border-bottom: 1px solid $border-color-normal;
}

.snapshot {
  display: flex;
  padding: $base-space;
  border-top: 1px solid $border-color-normal;
}

.snapshotHash {
  position: relative;
  margin-right: auto;
}

.snapshotHashTooltip {
  @include normal-tooltip();
}

.snapshotDate {
  white-space: nowrap;
  margin-left: $base-space;
  color: $text-color-bis;
}

.snapshotLink {
  @include link-style-blue();
  margin-left: $base-space * 2;
}

.emptySnapshots {
  font-size: $font-size-normal;
  color: $text-color-hint;
  margin-top: $base-space;
  text-align: center;
}
