/** new icons included */

@font-face {
	font-family: 'wapicon';
	src:
		url('./fonts/wapicon.woff2?rfj8a7') format('woff2'),
		url('./fonts/wapicon.woff?rfj8a7') format('woff'),
		url('./fonts/wapicon.ttf?rfj8a7') format('truetype'),
		url('./fonts/wapicon.svg?rfj8a7#wapicon') format('svg'),
		url('./fonts/wapicon.eot?rfj8a7#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

[class^="wap-icon-"], [class*=" wap-icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	vertical-align: middle;
	font-size: 1.6rem;
}
[class^="wap-icon-application-"], [class*=" wap-icon-application-"],
[class^="wap-icon-sns-"], [class*=" wap-icon-sns-"] {
	font-size: 2.0rem;	
}
[class^="wap-icon-"]:before, [class*=" wap-icon-"]:before {
	font-family: 'wapicon';
	vertical-align: middle;
}

.wap-icon-hue-drive:before {
	content: "\e65d";
}
.wap-icon-hue-mail:before {
	content: "\e65c";
}
.wap-icon-hue-ess:before {
	content: "\e65e";
}
.wap-icon-hue-timeline:before {
	content: "\e65b";
}
.wap-icon-hue-talk:before {
    content: "\e925";
}
.wap-icon-hue-projects:before {
    content: "\e91d";
}
.wap-icon-hue-answer:before {
    content: "\e91c";
}
.wap-icon-hue-scheduler:before {
    content: "\e927";
}
.wap-icon-hue-todo:before {
  content: "\e997";
}
.wap-icon-magic:before {
    content: "\e600";
}
.wap-icon-pencil:before {
	content: "\e005";
}
.wap-icon-draft:before {
  content: "\e006";
}
.wap-icon-building:before {
	content: "\f0f7";
}
.wap-icon-camera:before {
	content: "\e00f";
}
.wap-icon-book:before {
	content: "\e01f";
}
.wap-icon-tag:before {
	content: "\e030";
}
.wap-icon-tag-off:before {
  content: "\e031";
}
.wap-icon-bookmark:before {
	content: "\e0c9";
}
.wap-icon-bookmark-empty:before {
  content: "\e0d3";
}
.wap-icon-attachment:before {
	content: "\e0c5";
}
.wap-icon-location:before {
	content: "\e042";
}
.wap-icon-history:before {
	content: "\e047";
}
.wap-icon-clock:before {
	content: "\e048";
}
.wap-icon-calendar:before {
	content: "\e04e";
}
.wap-icon-print:before {
	content: "\e050";
}
.wap-icon-mobile:before {
	content: "\e054";
}
.wap-icon-folder:before {
	content: "\e02e";
}
.wap-icon-task:before {
	content: "\e059";
}
.wap-icon-download:before {
	content: "\e0bd";
}
.wap-icon-upload:before {
	content: "\e0be";
}
.wap-icon-save:before {
	content: "\e060";
}
.wap-icon-remove:before {
	content: "\e0a7";
}
.wap-icon-archive:before {
  content: "\e9a7";
}
.wap-icon-envelope:before {
	content: "\f003";
}

/* deprecated */
.wap-icon-bubble:before {
	content: "\e06a";
}
.wap-icon-search:before {
	content: "\e07f";
}
.wap-icon-zoom-in:before {
	content: "\e080";
}
.wap-icon-zoom-out:before {
	content: "\e081";
}
.wap-icon-pie:before {
	content: "\e095";
}
.wap-icon-stats:before {
	content: "\e096";
}
.wap-icon-bars:before {
	content: "\e097";
}
.wap-icon-bars-stack:before {
	content: "\e098";
}
.wap-icon-gantt:before {
  content: "\e099";
}
.wap-icon-cog:before {
	content: "\e090";
}
.wap-icon-conditions:before {
  content: "\e091";
}
.wap-icon-menulist:before {
	content: "\e617";
}
.wap-icon-list:before {
	content: "\e618";
}
.wap-icon-thumbnail:before {
	content: "\e616";
}
.wap-icon-refresh:before {
	content: "\e11c";
}
.wap-icon-undo:before {
	content: "\e062";
}
.wap-icon-redo:before {
	content: "\e063";
}

/* deprecated */
.wap-icon-caret-up:before {
	content: "\f0d8";
}

/* deprecated */
.wap-icon-caret-down:before {
	content: "\f0d7";
}
.wap-icon-new-tab:before {
	content: "\e15a";
}
.wap-icon-star-empty:before {
	content: "\e0ce";
}
.wap-icon-star-half:before {
	content: "\e0cf";
}
.wap-icon-star:before {
	content: "\e0d0";
}
.wap-icon-lightbulb:before {
	content: "\f0eb";
}
.wap-icon-thumbs-up:before {
	content: "\e0d4";
}
.wap-icon-share-arrow:before {
	content: "\f064";
}
.wap-icon-ellipsis-v:before {
	content: "\f142";
}
.wap-icon-microphone:before {
	content: "\f130";
}
.wap-icon-expand:before {
	content: "\e084";
}
.wap-icon-contract:before {
	content: "\e085";
}
.wap-icon-minimize:before {
	content: "\e666";
}
.wap-icon-draggable:before {
	content: "\e63f";
}
.wap-icon-reorder:before {
  content: "\e9a8";
}
.wap-icon-user:before {
	content: "\e070";
}
.wap-icon-users:before {
	content: "\e071";
}
.wap-icon-user-add:before {
	content: "\e604";
}
.wap-icon-structure:before {
	content: "\f0e8";
}
.wap-icon-tree-structure:before {
  content: "\e994";
}
.wap-icon-tree-parent:before {
  content: "\e9ad";
}
.wap-icon-arrow-left:before {
	content: "\e12e";
}
.wap-icon-arrow-up-left:before {
	content: "\e127";
}
.wap-icon-arrow-up:before {
	content: "\e128";
}
.wap-icon-arrow-up-right:before {
	content: "\e129";
}
.wap-icon-arrow-right:before {
	content: "\e12a";
}
.wap-icon-arrow-down-right:before {
	content: "\e12b";
}
.wap-icon-arrow-down:before {
	content: "\e12c";
}
.wap-icon-arrow-down-left:before {
	content: "\e12d";
}
.wap-icon-angle-up:before {
	content: "\f106";
}
.wap-icon-angle-down:before {
	content: "\f107";
}
.wap-icon-angle-left:before {
	content: "\f104";
}
.wap-icon-angle-right:before {
	content: "\f105";
}
.wap-icon-drop-up:before {
  content: "\e976";
}
.wap-icon-drop-down:before {
  content: "\e975";
}
.wap-icon-info:before {
	content: "\f05a";
}
.wap-icon-question:before {
	content: "\f059";
}
.wap-icon-hint-tooltip:before {
  content: "\e979";
}
.wap-icon-warning:before {
	content: "\f071";
}
.wap-icon-info-alt:before {
  content: "\e964";
}
.wap-icon-question-alt:before {
  content: "\e963";
}
.wap-icon-blocked:before {
	content: "\e0f9";
}
.wap-icon-abolish:before {
  content: "\e9a9";
}
.wap-icon-cancel:before {
	content: "\e63e";
}
.wap-icon-checkmark:before {
	content: "\e619";
}
.wap-icon-check-all:before {
    content: "\e973";
}
.wap-icon-checkmark-circle:before {
	content: "\e0fb";
}
.wap-icon-plus:before {
	content: "\f196";
}
.wap-icon-minus:before {
	content: "\f147";
}
.wap-icon-add:before {
	content: "\e60b";
}
.wap-icon-subtract:before {
	content: "\e800";
}
.wap-icon-maru:before {
	content: "\e636";
}
.wap-icon-batsu:before {
	content: "\e635";
}
.wap-icon-priority-l:before {
  content: "\e966";
}
.wap-icon-priority-m:before {
  content: "\e967";
}
.wap-icon-priority-h:before {
  content: "\e96a";
}
.wap-icon-file:before {
	content: "\e026";
}
.wap-icon-file-memo:before {
	content: "\e610";
}
.wap-icon-file-rich-text:before {
  content: "\e9ac";
}
.wap-icon-task-check:before {
	content: "\e602";
}
.wap-icon-copy:before {
	content: "\e027";
}
.wap-icon-paste:before {
	content: "\e02b";
}
.wap-icon-clipboard:before {
	content: "\e601";
}
.wap-icon-file-pdf:before {
	content: "\e1b2";
}
.wap-icon-file-excel:before {
	content: "\e1b5";
}
.wap-icon-file-presentation:before {
    content: "\e91e";
}
.wap-icon-file-drawing:before {
    content: "\e91f";
}
.wap-icon-file-zip:before {
	content: "\e1b6";
}
.wap-icon-file-html:before {
  content: "\e1b7";
}
.wap-icon-preview:before {
    content: "\e91b";
}
.wap-icon-file-upload:before {
    content: "\e921";
}
.wap-icon-folder-upload:before {
    content: "\e922";
}
.wap-icon-folder-create:before {
    content: "\e920";
}
.wap-icon-takeback-report:before {
  content: "\e968";
}
.wap-icon-cancel-report:before {
  content: "\e969";
}
.wap-icon-re-submit-report:before {
  content: "\e970";
}
.wap-icon-re-create-report:before {
  content: "\e99e";
}
.wap-icon-paging-first:before {
    content: "\e932";
}
.wap-icon-paging-previous:before {
    content: "\e930";
}
.wap-icon-paging-next:before {
    content: "\e931";
}
.wap-icon-paging-last:before {
    content: "\e933";
}
.wap-icon-font:before {
	content: "\e61e";
}
.wap-icon-bold:before {
	content: "\e61f";
}
.wap-icon-underline:before {
	content: "\f0cd";
}
.wap-icon-italic:before {
	content: "\e622";
}
.wap-icon-strikethrough:before {
	content: "\f0cc";
}
.wap-icon-function:before {
	content: "\e61d";
}
.wap-icon-source-code:before {
  content: "\e9eb";
}
.wap-icon-paragraph-left:before {
	content: "\e154";
}
.wap-icon-paragraph-center:before {
	content: "\e155";
}
.wap-icon-paragraph-right:before {
	content: "\e156";
}
.wap-icon-paragraph-justify:before {
	content: "\e157";
}
.wap-icon-sort-by-alphabet-asc:before {
	content: "\f15d";
}
.wap-icon-sort-by-alphabet-desc:before {
	content: "\f15e";
}
.wap-icon-sort-by-kana-asc:before {
	content: "\e626";
}
.wap-icon-sort-by-kana-desc:before {
	content: "\e627";
}
.wap-icon-sort-by-attributes-asc:before {
	content: "\f160";
}
.wap-icon-sort-by-attributes-desc:before {
	content: "\f161";
}
.wap-icon-sort-by-order-asc:before {
	content: "\f162";
}
.wap-icon-sort-by-order-desc:before {
	content: "\f163";
}
.wap-icon-table:before {
	content: "\e14b";
}
.wap-icon-table-lock-line:before {
	content: "\e62e";
}
.wap-icon-table-lock-row:before {
	content: "\e62f";
}
.wap-icon-table-lock-col:before {
	content: "\e62d";
}
.wap-icon-table-border:before {
	content: "\e90d";
}
.wap-icon-crop:before {
	content: "\e13d";
}
.wap-icon-cut:before {
	content: "\e13e";
}
.wap-icon-filter:before {
	content: "\e140";
}
.wap-icon-filter-cancel:before {
	content: "\e62a";
}
.wap-icon-color-bucket:before {
	content: "\e628";
}
.wap-icon-unit-dollar:before {
  content: "\e97a";
}
.wap-icon-unit-yen:before {
  content: "\e97b";
}
.wap-icon-percent:before {
  content: "\e97c";
}
.wap-icon-inc-decimal-place:before {
  content: "\e97e";
}
.wap-icon-dec-decimal-place:before {
  content: "\e97f";
}
.wap-icon-number-format:before {
  content: "\e981";
}
.wap-icon-bottom-border:before {
	content: "\e60d";
}
.wap-icon-top-border:before {
	content: "\e60f";
}
.wap-icon-left-border:before {
	content: "\e615";
}
.wap-icon-right-border:before {
	content: "\e61b";
}
.wap-icon-no-border:before {
	content: "\e61c";
}
.wap-icon-all-borders:before {
	content: "\e629";
}
.wap-icon-outside-borders:before {
	content: "\e632";
}
.wap-icon-inner-borders:before {
	content: "\e650";
}
.wap-icon-horizontal-border:before {
	content: "\e651";
}
.wap-icon-vertical-border:before {
	content: "\e652";
}
.wap-icon-thick-box-border:before {
	content: "\e644";
}
.wap-icon-bottom-double-border:before {
	content: "\e645";
}
.wap-icon-thick-bottom-border:before {
	content: "\e646";
}
.wap-icon-top-and-bottom-border:before {
	content: "\e647";
}
.wap-icon-top-and-thick-bottom-border:before {
	content: "\e648";
}
.wap-icon-top-and-double-bottom-border:before {
	content: "\e649";
}
.wap-icon-border-style:before {
	content: "\e64a";
}
.wap-icon-border-width:before {
	content: "\e64b";
}
.wap-icon-vertical-align-top:before {
	content: "\e64c";
}
.wap-icon-vertical-align-middle:before {
	content: "\e64d";
}
.wap-icon-vertical-align-bottom:before {
	content: "\e64e";
}
.wap-icon-wrap-text:before {
	content: "\e64f";
}
.wap-icon-cell-merge:before {
	content: "\e659";
}
.wap-icon-cell-merge-horizontally:before {
	content: "\e658";
}
.wap-icon-cell-merge-vertically:before {
	content: "\e657";
}
.wap-icon-cell-unmerge:before {
	content: "\e656";
}
.wap-icon-insert-row:before {
  content: "\e9ec";
}
.wap-icon-insert-column:before {
  content: "\e9ed";
}
.wap-icon-sort-asc:before {
	content: "\e637";
}
.wap-icon-sort-desc:before {
	content: "\e638";
}
.wap-icon-btn-sort-asc:before {
	content: "\e63a";
}
.wap-icon-btn-sort-desc:before {
	content: "\e639";
}
.wap-icon-btn-filter:before {
	content: "\e63b";
}
.wap-icon-btn-filter-sort-asc:before {
	content: "\e63c";
}
.wap-icon-btn-filter-sort-desc:before {
	content: "\e63d";
}
.wap-icon-pivot-col:before {
	content: "\e603";
}
.wap-icon-pivot-row:before {
	content: "\e60a";
}
.wap-icon-pivot-value:before {
	content: "\e149";
}
.wap-icon-shape-line:before {
  content: "\e9b8";
}
.wap-icon-shape-arrow:before {
  content: "\e9b9";
}
.wap-icon-shape-elbow-connector:before {
  content: "\e9ba";
}
.wap-icon-shape-curved-connector:before {
  content: "\e9bb";
}
.wap-icon-shape-curve:before {
  content: "\e9bc";
}
.wap-icon-free-form:before {
  content: "\e9e2";
}
.wap-icon-shape-scribble:before {
  content: "\e9bd";
}
.wap-icon-shape-line-1:before {
  content: "\e9be";
}
.wap-icon-shape-line-2:before {
  content: "\e9bf";
}
.wap-icon-shape-line-3:before {
  content: "\e9c0";
}
.wap-icon-shape-line-4:before {
  content: "\e9c1";
}
.wap-icon-shape-line-5:before {
  content: "\e9c2";
}
.wap-icon-shape-line-6:before {
  content: "\e9c3";
}
.wap-icon-shape-line-7:before {
  content: "\e9c4";
}
.wap-icon-shape-line-8:before {
  content: "\e9c5";
}
.wap-icon-shape-line-9:before {
  content: "\e9c6";
}
.wap-icon-shape-line-10:before {
  content: "\e9c7";
}
.wap-icon-shape-line-11:before {
  content: "\e9c8";
}
.wap-icon-shape-menu:before {
  content: "\e9e3";
}
.wap-icon-shape-polyline-1:before {
  content: "\e9c9";
}
.wap-icon-shape-polyline-2:before {
  content: "\e9ca";
}
.wap-icon-shape-polyline-3:before {
  content: "\e9cb";
}
.wap-icon-shape-polyline-4:before {
  content: "\e9cc";
}
.wap-icon-shape-polyline-5:before {
  content: "\e9cd";
}
.wap-icon-shape-polyline-6:before {
  content: "\e9ce";
}
.wap-icon-shape-polyline-7:before {
  content: "\e9cf";
}
.wap-icon-shape-polyline-8:before {
  content: "\e9d0";
}
.wap-icon-shape-polyline-9:before {
  content: "\e9d1";
}
.wap-icon-shape-polyline-10:before {
  content: "\e9d2";
}
.wap-icon-shape-polyline-11:before {
  content: "\e9d3";
}
.wap-icon-shape-polyline-12:before {
  content: "\e9d4";
}
.wap-icon-shape-polyline-13:before {
  content: "\e9d5";
}
.wap-icon-shape-polyline-14:before {
  content: "\e9d6";
}
.wap-icon-shape-polyline-15:before {
  content: "\e9d7";
}
.wap-icon-shape-polyline-16:before {
  content: "\e9d8";
}
.wap-icon-shape-arrow-1:before {
  content: "\e9d9";
}
.wap-icon-shape-arrow-2:before {
  content: "\e9da";
}
.wap-icon-shape-arrow-3:before {
  content: "\e9db";
}
.wap-icon-shape-arrow-4:before {
  content: "\e9dc";
}
.wap-icon-shape-arrow-5:before {
  content: "\e9dd";
}
.wap-icon-shape-arrow-6:before {
  content: "\e9de";
}
.wap-icon-shape-bubble-1:before {
  content: "\e9df";
}
.wap-icon-shape-bubble-2:before {
  content: "\e9e0";
}
.wap-icon-shape-bubble-3:before {
  content: "\e9e1";
}
.wap-icon-watermark:before {
	content: "\e641";
}
.wap-icon-stamp:before {
	content: "\e640";
}
.wap-icon-actual-size:before {
	content: "\e621";
}
.wap-icon-fit-page:before {
	content: "\e620";
}
.wap-icon-fit-width:before {
	content: "\e623";
}
.wap-icon-static-text:before {
	content: "\e663";
}
.wap-icon-dynamic-text:before {
	content: "\e65f";
}
.wap-icon-line:before {
	content: "\e661";
}
.wap-icon-rectangle:before {
	content: "\e662";
}
.wap-icon-ellipse:before {
	content: "\e90e";
}
.wap-icon-frame:before {
	content: "\e660";
}
.wap-icon-sub-file:before {
	content: "\e664";
}
.wap-icon-page-break:before {
    content: "\e918";
}
.wap-icon-rotate:before {
	content: "\e60c";
}
.wap-icon-rotate-right:before {
	content: "\e642";
}
.wap-icon-rotate-left:before {
	content: "\e643";
}
.wap-icon-reply-message:before {
	content: "\e069";
}
.wap-icon-reply-all:before {
	content: "\e902";
}
.wap-icon-forward-message:before {
	content: "\e068";
}
.wap-icon-mail-new-tab:before {
	content: "\e901";
}
.wap-icon-send-mail:before {
    content: "\e919";
}
.wap-icon-face-thanks:before {
	content: "\e0d6";
}
.wap-icon-face-please:before {
	content: "\e0d8";
}
.wap-icon-face-ok:before {
	content: "\e0de";
}
.wap-icon-face-angry:before {
	content: "\e0e4";
}
.wap-icon-face-sorry:before {
	content: "\e0dc";
}
.wap-icon-face-down:before {
	content: "\e0ea";
}
.wap-icon-face-hurry:before {
	content: "\e611";
}
.wap-icon-train:before {
	content: "\e633";
}
.wap-icon-bus:before {
	content: "\e631";
}
.wap-icon-taxi:before {
	content: "\e634";
}
.wap-icon-bullet-train:before {
	content: "\e630";
}
.wap-icon-airplane:before {
	content: "\e0aa";
}
.wap-icon-truck:before {
	content: "\e0ab";
}
.wap-icon-hotel:before {
	content: "\e65a";
}
.wap-icon-walk:before {
  content: "\e996";
}
.wap-icon-play-movie:before {
	content: "\e012";
}
.wap-icon-movie:before {
    content: "\e924";
}
.wap-icon-music:before {
	content: "\e010";
}
.wap-icon-play:before {
	content: "\e10a";
}
.wap-icon-pause:before {
	content: "\e10b";
}
.wap-icon-stop:before {
	content: "\e10c";
}
.wap-icon-record:before {
    content: "\e91a";
}
.wap-icon-backward:before {
	content: "\e10d";
}
.wap-icon-forward:before {
	content: "\e10e";
}
.wap-icon-first:before {
	content: "\e10f";
}
.wap-icon-last:before {
	content: "\e110";
}
.wap-icon-previous:before {
	content: "\e111";
}
.wap-icon-next:before {
	content: "\e112";
}
.wap-icon-volume-high:before {
	content: "\e114";
}
.wap-icon-volume-medium:before {
	content: "\e115";
}
.wap-icon-volume-low:before {
	content: "\e116";
}
.wap-icon-volume-none:before {
	content: "\e117";
}
.wap-icon-volume-mute:before {
	content: "\e118";
}
.wap-icon-volume-increase:before {
	content: "\e119";
}
.wap-icon-volume-decrease:before {
	content: "\e11a";
}
.wap-icon-shuffle:before {
	content: "\e11e";
}
.wap-icon-loop:before {
	content: "\e11b";
}
.wap-icon-home:before {
	content: "\e000";
}
.wap-icon-office:before {
	content: "\e003";
}
.wap-icon-store:before {
  content: "\e004";
}
.wap-icon-dashboard:before {
  content: "\e9b6";
}
.wap-icon-eraser:before {
	content: "\f12d";
}
.wap-icon-paint-format:before {
	content: "\e00b";
}
.wap-icon-image:before {
	content: "\e00d";
}
.wap-icon-compare:before {
  content: "\e99d";
}
.wap-icon-balance-scale:before {
  content: "\e99c";
}
.wap-icon-connection:before {
	content: "\e01c";
}
.wap-icon-books:before {
	content: "\e020";
}
.wap-icon-library:before {
	content: "\e021";
}
.wap-icon-qrcode:before {
	content: "\e034";
}
.wap-icon-barcode:before {
	content: "\e033";
}
.wap-icon-cart:before {
	content: "\e035";
}
.wap-icon-coin:before {
	content: "\e038";
}
.wap-icon-coin-alt:before {
  content: "\e965";
}
.wap-icon-cash:before {
  content: "\e962";
}
.wap-icon-credit:before {
	content: "\e039";
}
.wap-icon-credit-private:before {
  content: "\e03b";
}
.wap-icon-ic-card:before {
    content: "\e928";
}
.wap-icon-receipt:before {
    content: "\e92a";
}
.wap-icon-order-list:before {
  content: "\e9af";
}
.wap-icon-calculate:before {
	content: "\e03a";
}
.wap-icon-phone:before {
	content: "\e03c";
}
.wap-icon-phone-off:before {
	content: "\e665";
}
.wap-icon-video:before {
	content: "\e667";
}
.wap-icon-video-off:before {
  content: "\e954";
}
.wap-icon-screen-share:before {
  content: "\e972";
}
.wap-icon-screen-share-off:before {
  content: "\e971";
}
.wap-icon-briefcase:before {
	content: "\e90f";
}
.wap-icon-address-book:before {
	content: "\e03e";
}
.wap-icon-notebook:before {
	content: "\e03f";
}
.wap-icon-pushpin:before {
	content: "\e041";
}
.wap-icon-pushpin-off:before {
  content: "\e9a5";
}
.wap-icon-location-active:before {
	content: "\e043";
}
.wap-icon-locations:before {
  content: "\e99b";
}
.wap-icon-location-arrow:before {
	content: "\e605";
}
.wap-icon-compass:before {
	content: "\e044";
}
.wap-icon-map:before {
	content: "\e045";
}
.wap-icon-alarm:before {
	content: "\e04a";
}
.wap-icon-bell:before {
	content: "\e04c";
}
.wap-icon-bell-off:before {
  content: "\e04d";
}
.wap-icon-keyboard:before {
	content: "\e051";
}
.wap-icon-screen:before {
	content: "\e052";
}
.wap-icon-tablet:before {
	content: "\e056";
}
.wap-icon-portrait:before {
	content: "\e612";
}
.wap-icon-landscape:before {
	content: "\e613";
}
.wap-icon-browser:before {
	content: "\e614";
}
.wap-icon-cloud:before {
	content: "\e0ba";
}
.wap-icon-spinner:before {
	content: "\e079";
}
.wap-icon-key:before {
	content: "\e087";
}
.wap-icon-lock:before {
	content: "\e089";
}
.wap-icon-unlocked:before {
	content: "\e08a";
}
.wap-icon-wand:before {
	content: "\e092";
}
.wap-icon-meter:before {
	content: "\e0a0";
}
.wap-icon-legal:before {
	content: "\e0a3";
}
.wap-icon-switch:before {
	content: "\e0b1";
}
.wap-icon-ellipsis-h:before {
	content: "\f141";
}
.wap-icon-globe:before {
	content: "\e0c1";
}
.wap-icon-earth:before {
	content: "\e0c2";
}
.wap-icon-flag:before {
	content: "\e0c4";
}
.wap-icon-progress:before {
  content: "\e0c8";
}
.wap-icon-eye:before {
	content: "\e0c6";
}
.wap-icon-eye-blocked:before {
	content: "\e0c7";
}
.wap-icon-eye-private:before {
  content: "\e0ca";
}
.wap-icon-brightness-medium:before {
	content: "\e0cb";
}
.wap-icon-brightness-contrast:before {
	content: "\e0cc";
}
.wap-icon-contrast:before {
	content: "\e0cd";
}
.wap-icon-heart:before {
	content: "\e0d1";
}
.wap-icon-heart-empty:before {
	content: "\e0d2";
}
.wap-icon-thumbs-down:before {
	content: "\e0d5";
}
.wap-icon-check:before {
	content: "\f046";
}
.wap-icon-check-empty:before {
	content: "\f096";
}
.wap-icon-check-partial:before {
	content: "\e624";
}
.wap-icon-radio-checked:before {
	content: "\e13b";
}
.wap-icon-radio-unchecked:before {
	content: "\e13c";
}
.wap-icon-insert-template:before {
	content: "\e14c";
}
.wap-icon-console:before {
	content: "\e15d";
}
.wap-icon-collaboration:before {
	content: "\e15e";
}
.wap-icon-rss:before {
	content: "\e170";
}
.wap-icon-target:before {
	content: "\e0ae";
}
.wap-icon-envelope-alt:before {
	content: "\f0e0";
}
.wap-icon-envelope-open:before {
    content: "\e929";
}
.wap-icon-shift:before {
	content: "\e60e";
}
.wap-icon-microphone-off:before {
	content: "\f131";
}
.wap-icon-link:before {
	content: "\f0c1";
}
.wap-icon-unlink:before {
	content: "\f127";
}
.wap-icon-user-tie:before {
	content: "\e075";
}
.wap-icon-male:before {
	content: "\f183";
}
.wap-icon-female:before {
	content: "\f182";
}
.wap-icon-database:before {
	content: "\e606";
}
.wap-icon-import:before {
	content: "\e904";
}
.wap-icon-export:before {
	content: "\e905";
}
.wap-icon-database-lock:before {
	content: "\e655";
}
.wap-icon-logout:before {
	content: "\e607";
}
.wap-icon-login:before {
	content: "\e608";
}
.wap-icon-flow:before {
	content: "\e609";
}
.wap-icon-folder-open:before {
	content: "\e02f";
}
.wap-icon-numbered-list:before {
	content: "\e0b6";
}
.wap-icon-spell-check:before {
	content: "\e100";
}
.wap-icon-indent-increase:before {
	content: "\e158";
}
.wap-icon-indent-decrease:before {
	content: "\e159";
}
.wap-icon-slide-to-left:before {
	content: "\e62c";
}
.wap-icon-slide-to-right:before {
	content: "\e62b";
}
.wap-icon-slider:before {
	content: "\e08e";
}
.wap-icon-trophy:before {
	content: "\e09a";
}
.wap-icon-skill:before {
  content: "\e995";
}
.wap-icon-skill-add:before {
  content: "\e99f";
}
.wap-icon-food:before {
	content: "\e09d";
}
.wap-icon-rest:before {
  content: "\e9a4";
}
.wap-icon-visitor:before {
  content: "\e9a3";
}
.wap-icon-meeting:before {
  content: "\e9a2";
}
.wap-icon-vacation:before {
  content: "\e9aa";
}
.wap-icon-sun:before {
	content: "\f185";
}
.wap-icon-moon:before {
	content: "\f186";
}
.wap-icon-bolt:before {
	content: "\f0e7";
}
.wap-icon-umbrella:before {
	content: "\f0e9";
}
.wap-icon-tint:before {
	content: "\f043";
}
.wap-icon-gift:before {
	content: "\e654";
}
.wap-icon-bullhorn:before {
	content: "\e653";
}
.wap-icon-news:before {
  content: "\e9a0";
}
.wap-icon-coupon:before {
  content: "\e9ab";
}
.wap-icon-discount:before {
  content: "\e9b0";
}
.wap-icon-money-point:before {
  content: "\e9b1";
}
.wap-icon-bundled-product:before {
  content: "\e9b2";
}
.wap-icon-product:before {
  content: "\e9b3";
}
.wap-icon-feedback:before {
	content: "\e903";
}
.wap-icon-comment:before {
    content: "\e926";
}
.wap-icon-comment-add:before {
    content: "\e92d";
}
.wap-icon-faq:before {
  content: "\e9ae";
}
.wap-icon-at-sign:before {
    content: "\e92e";
}
.wap-icon-hash-sign:before {
    content: "\e92f";
}
.wap-icon-view-horizontal:before {
    content: "\e92b";
}
.wap-icon-view-left-right:before {
    content: "\e92c";
}
.wap-icon-grouping:before {
  content: "\e9b4";
}
.wap-icon-right-panel:before {
  content: "\e9b7";
}
.wap-icon-send-back:before {
	content: "\e900";
}
.wap-icon-split:before {
  content: "\e974";
}
.wap-icon-integrate:before {
  content: "\e9a1";
}
.wap-icon-stock:before {
  content: "\e923";
}
.wap-icon-offsetting:before {
  content: "\e978";
}
.wap-icon-close:before {
	content: "\e61a";
}

/* deprecated */
.wap-icon-share:before {
	content: "\e625";
}

/* deprecated */
.wap-icon-dice:before {
	content: "\e015";
}
.wap-icon-application-shorttrans:before {
  content: "\e90b";
}
.wap-icon-application-domestic:before {
  content: "\e906";
}
.wap-icon-application-oversea:before {
  content: "\e90a";
}
.wap-icon-application-taxi:before {
  content: "\e90c";
}
.wap-icon-application-entertainment:before {
  content: "\e907";
}
.wap-icon-application-expense:before {
  content: "\e908";
}
.wap-icon-app-purchase:before {
  content: "\e977";
}
.wap-icon-application-report:before {
  content: "\e909";
}
.wap-icon-app-car-rental:before {
  content: "\e96b";
}
.wap-icon-app-mileage:before {
  content: "\e96c";
}
.wap-icon-app-parking:before {
  content: "\e96d";
}
.wap-icon-app-fuel:before {
  content: "\e96e";
}
.wap-icon-app-toll:before {
  content: "\e96f";
}
.wap-icon-app-employment:before {
  content: "\e95f";
}
.wap-icon-app-transfer:before {
  content: "\e95e";
}
.wap-icon-app-promotion:before {
  content: "\e95d";
}
.wap-icon-app-secondment:before {
  content: "\e95c";
}
.wap-icon-app-return-from-secondment:before {
  content: "\e95b";
}
.wap-icon-app-return-from-leave:before {
  content: "\e95a";
}
.wap-icon-app-leave:before {
  content: "\e959";
}
.wap-icon-app-retirement:before {
  content: "\e957";
}
.wap-icon-app-re-employment:before {
  content: "\e958";
}
.wap-icon-app-assignment:before {
  content: "\e955";
}
.wap-icon-app-announcement:before {
  content: "\e956";
}
.wap-icon-app-monthly-attendance:before {
  content: "\e960";
}
.wap-icon-app-daily-attendance:before {
  content: "\e961";
}
.wap-icon-app-dayoff:before {
  content: "\e953";
}
.wap-icon-app-pp-catalog:before {
  content: "\e9e4";
}
.wap-icon-app-pp-spot:before {
  content: "\e9e5";
}
.wap-icon-app-pp-materials:before {
  content: "\e9e6";
}
.wap-icon-app-pp-sales-goods:before {
  content: "\e9e7";
}
.wap-icon-app-pp-lease:before {
  content: "\e9e8";
}
.wap-icon-app-pp-complex-services:before {
  content: "\e9e9";
}
.wap-icon-app-pp-recurring-services:before {
  content: "\e9ea";
}
.wap-icon-ac-business-deposit:before {
  content: "\e983";
}
.wap-icon-ac-business-withdrawal:before {
  content: "\e984";
}
.wap-icon-ac-general-deposit:before {
  content: "\e989";
}
.wap-icon-ac-general-withdrawal:before {
  content: "\e98a";
}
.wap-icon-ac-sales-deposit:before {
  content: "\e98b";
}
.wap-icon-ac-gas-bill:before {
  content: "\e98c";
}
.wap-icon-ac-water-bill:before {
  content: "\e97d";
}
.wap-icon-ac-tv-recieving-fee:before {
  content: "\e98d";
}
.wap-icon-ac-interest:before {
  content: "\e982";
}
.wap-icon-ac-financial-transaction-deposit:before {
  content: "\e985";
}
.wap-icon-ac-financial-transaction-withdrawal:before {
  content: "\e986";
}
.wap-icon-ac-office-supplies-expenses:before {
  content: "\e98e";
}
.wap-icon-ac-insurance-fee:before {
  content: "\e98f";
}
.wap-icon-ac-tax:before {
  content: "\e990";
}
.wap-icon-ac-cash-card:before {
  content: "\e991";
}
.wap-icon-ac-cash:before {
  content: "\e992";
}
.wap-icon-ac-atm:before {
  content: "\e993";
}
.wap-icon-ac-account-transfer:before {
  content: "\e998";
}
.wap-icon-ac-foreign-transaction-deposit:before {
  content: "\e987";
}
.wap-icon-ac-foreign-transaction-withdrawal:before {
  content: "\e988";
}
.wap-icon-ac-check:before {
  content: "\e980";
}
.wap-icon-ac-personnel-costs:before {
  content: "\e999";
}
.wap-icon-ac-safe-box:before {
  content: "\e99a";
}
.wap-icon-day-1:before {
  content: "\e934";
}
.wap-icon-day-2:before {
  content: "\e935";
}
.wap-icon-day-3:before {
  content: "\e936";
}
.wap-icon-day-4:before {
  content: "\e937";
}
.wap-icon-day-5:before {
  content: "\e938";
}
.wap-icon-day-6:before {
  content: "\e939";
}
.wap-icon-day-7:before {
  content: "\e93a";
}
.wap-icon-day-8:before {
  content: "\e93b";
}
.wap-icon-day-9:before {
  content: "\e93c";
}
.wap-icon-day-10:before {
  content: "\e93d";
}
.wap-icon-day-11:before {
  content: "\e93e";
}
.wap-icon-day-12:before {
  content: "\e93f";
}
.wap-icon-day-13:before {
  content: "\e940";
}
.wap-icon-day-14:before {
  content: "\e941";
}
.wap-icon-day-15:before {
  content: "\e942";
}
.wap-icon-day-16:before {
  content: "\e943";
}
.wap-icon-day-17:before {
  content: "\e944";
}
.wap-icon-day-18:before {
  content: "\e945";
}
.wap-icon-day-19:before {
  content: "\e946";
}
.wap-icon-day-20:before {
  content: "\e947";
}
.wap-icon-day-21:before {
  content: "\e948";
}
.wap-icon-day-22:before {
  content: "\e949";
}
.wap-icon-day-23:before {
  content: "\e94a";
}
.wap-icon-day-24:before {
  content: "\e94b";
}
.wap-icon-day-25:before {
  content: "\e94c";
}
.wap-icon-day-26:before {
  content: "\e94d";
}
.wap-icon-day-27:before {
  content: "\e94e";
}
.wap-icon-day-28:before {
  content: "\e94f";
}
.wap-icon-day-29:before {
  content: "\e950";
}
.wap-icon-day-30:before {
  content: "\e951";
}
.wap-icon-day-31:before {
  content: "\e952";
}
.wap-icon-icon-empty:before {
  content: "\e9a6";
}
.wap-icon-sns-facebook:before {
	content: "\e911";
}
.wap-icon-sns-twitter:before {
	content: "\e916";
}
.wap-icon-sns-google-plus:before {
	content: "\e913";
}
.wap-icon-sns-linkedin:before {
	content: "\e914";
}
.wap-icon-sns-tumblr:before {
	content: "\e915";
}
.wap-icon-sns-github:before {
	content: "\e912";
}
.wap-icon-sns-wordpress:before {
	content: "\e917";
}
.wap-icon-sns-instagram:before {
  content: "\e9b5";
}
.wap-icon-sns-bookmark:before {
	content: "\e910";
}
