{
  "presets": [
    ["@babel/preset-env", { "targets": { "browsers": "last 2 versions" } }],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        ["react-remove-properties", { "properties": ["data-test"] }],
        "babel-plugin-closure-elimination"
      ]
    }
  }
}
