@import "../../common";

.wrap {
  font-size: $font-size-smaller;
  min-height: $base-space * 15;
}

.element {
  text-align: center;
}

.label {
  display: inline-block;
  padding: $base-space / 2;
  border: 1px solid $border-color-light;
  background-color: $bg-color-white;
  box-shadow: $layer-shadow-1;
  white-space: nowrap;
}

.targetLabel {
  border-color: $color-primary;
}

.childList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 0;
  padding: 0;
}

.child {
  display: block;

  & > .element {
    padding-top: $base-space * 1.5;
  }
}
