@import "../../common";

.wrap {
  background-color: $bg-color-white;
  box-shadow: $layer-shadow-1;
  border-radius: $border-radius-small;
  box-sizing: border-box;
  padding: $base-space * 2;
  width: $base-space * 45;
  height: $base-space * 25;
  position: relative;
  font-size: $font-size-normal;
  border: 2px solid $bg-color-white;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: $layer-shadow-6;
  }
}

.name {
  font-size: $font-size-large;
  display: block;
}

.version {
  color: $text-color-light;
  margin-top: $base-space;
}

.edit {
  position: absolute;
  font-size: $font-size-normal;
  font-weight: 700;
  right: $base-space * 2;
  bottom: $base-space * 2;
  border: none;
  background-color: transparent;
  color: $color-primary;
  font-family: $font-family-sans-serif;
  padding: $base-space;
  margin-bottom: -$base-space;
  margin-right: -$base-space * 2;

  &:hover .editToolbar {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.editToolbar {
  visibility: hidden;
  display: inline-block;
  position: absolute;
  right: -50%;
  bottom: 1.5em;
  margin-bottom: $base-space * 1.5;
  white-space: nowrap;
  font-weight: normal;
  border-radius: $border-radius;
  background-color: rgba($text-color-normal, 0.5);
  padding: $base-space;
  color: $text-color-white;
  transition: opacity 0.2s ease-out, visibility 0.3s linear;
  opacity: 0;
  font-size: $font-size-smaller;
}

.editLabel {
  padding: 0 $base-space;
}

.unconfigured {
  background-color: $bg-color-gray-2;
  border-color: $bg-color-gray-2;

  & .name {
    color: $text-color-light;
  }
}

.configured {
  background-color: $bg-color-white;
  border-color: $bg-color-white;
}

.observed {
  border-color: $color-primary;

  &:hover {
    border-color: $color-primary-dark;
  }
}

.switchEnabled {
  display: inline-block;
  margin-top: $base-space;
}
